{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
    ["syntax-dynamic-import"],
    ["syntax-object-rest-spread"],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}